.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b1c2c;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #00c2ff;
}

.login-btn {
  background: #00c2ff;
  padding: 6px 12px;
  border-radius: 5px;
  color: black !important;
}