/* ===== ADMIN FOOTER ===== */
.admin-footer {
  text-align: center;
  padding: 20px;

  margin: 20px 15px;
  border-radius: 12px;

  background: #ffffff;
  color: #555;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* ===== TEXT ===== */
.admin-footer p {
  font-size: 14px;
  color: #777;
  transition: 0.3s;
}

/* hover effect */
.admin-footer p:hover {
  color: #ff7a3d;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .admin-footer {
    padding: 15px;
  }

  .admin-footer p {
    font-size: 13px;
  }
}